.container-fluid.masthead-1
	h1 = HealthMarker.model_name.human(count: :many)
	= add_record_button HealthMarker

.container-fluid.section-padding
	table.table
		thead
			tr
				th = HealthMarker.human_attribute_name :object
				th = HealthMarker.human_attribute_name :group
				th = HealthMarker.human_attribute_name :name_en
				th = HealthMarker.human_attribute_name :name_ru
				th = HealthMarker.human_attribute_name :healthy_range
				th
		tbody
			- @markers.each do |marker|
				tr
					td = marker.measurement_object.name_en
					td = marker.measurements_group&.name_en
					td
						= marker.name_en
						=< "(#{marker.abbr_en})" if marker.abbr_en.present?
					td
						= marker.name_ru
						=< "(#{marker.abbr_ru})" if marker.abbr_ru.present?
					td
						=> number_with_precision marker.healthy_value_min, strip_insignificant_zeros: true
						| —
						=< number_with_precision marker.healthy_value_max, strip_insignificant_zeros: true
						=< marker.unit
	 				td
						= edit_btn marker
						= delete_btn marker, style: "margin-left: 10px"
