abbr[title="required"]
  color: crimson
  text-decoration: none
  margin-left: 1px

fieldset.fragments
  label
    float: none

form
  fieldset
    > ol
      > li.radio
        fieldset
          ol
            li
              label
                font-weight: 500

                input
                  margin-right: 5px
    ol
      > li.radio
        label
          float: none

  textarea
    font-size: 1em
    line-height: 1.5em
    max-width: 700px

::-webkit-input-placeholder
  color: hsl(0, 0%, 70%)

input[disabled],
input[readonly]
  background-color: hsl(0, 0%, 94%)
