.container-fluid.masthead-1
	h1 = Excercise.model_name.human(count: 10)
	= add_record_button Excercise

.section-padding.container-fluid
	table.table
		thead
			tr
				th = Excercise.human_attribute_name :name
				th = Excercise.human_attribute_name :main_muscle
				th = Excercise.human_attribute_name :muscles
				th = Excercise.human_attribute_name :default_repetitions_count
				th = Excercise.human_attribute_name :default_time
				th

		tbody
			- @excercises.each do |excercise|
				tr
					td
						= excercise.l_name(I18n.locale)
						- flavor = excercise.flavor(I18n.locale)
						- if flavor.present?
							|  (
							= flavor
							| )
					td = excercise.main_muscle.name
					td
						- if excercise.muscles.any?
							ul.tags-1.small
								- excercise.muscles.each do |muscle|
									li.tags-1__li = link_to muscle.name, muscle
					td = t :reps, count: excercise.default_repetitions_count

					td
						- if excercise.default_time.zero?
							| —
						- else
							=> excercise.default_time
							| sec
					td = edit_btn excercise
					td = delete_btn excercise
